@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

:root{
    --board-color: #264653;
    --background-color: #90acb4;
    --background-darker: hsla(0, 0%, 100%, .4);
    --first-team: #e9c46a;
    --first-team-darker: hsl(40, 40%, 50%);
    --second-team: #e76f51;
    --second-team-darker: hsl(12, 40%, 50%);

    --cell-width: clamp(50px, 10vw, 60px);
}

html, input, button {
    font-family: 'Signika Negative', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--background-color);
    height: 100svh;
    overflow: hidden;
}

.highlight {
    font-size: 1.4em;
    color: var(--second-team);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .5);
}

h1{
    font-size: 3em;
    color: var(--board-color);
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.turn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    padding: .4em .7em;
    border-radius: 10px;
    color: white;
    background-color: var(--board-color);
    font-size: 14px;
}

.turn-cell-wrapper {
    position: relative;
    aspect-ratio: 1/1;
    width: calc(5/10*var(--cell-width));
}

.turn-cell {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;

    transition: transform .5s ease;
}

.turn-cell.first-team { transform: rotateY(0deg); }
.turn-cell.second-team { transform: rotateY(-180deg); }

.turn-cell.turn-back { transform: rotateY(180deg); }
.turn-cell.turn-front { transform: rotateY(0deg); }

.board {
    position: relative;

    display: grid;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .2);
    border: 15px solid var(--board-color);
    border-radius: 10px;
    z-index: 1;
}

.board-inv {
    display: grid;
    position: absolute;

    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;

    z-index: -1;
}

.cell-inv {
    aspect-ratio: 1/1;
    width: var(--cell-width);
    border-radius: 50%;
    border: calc(1/20*var(--cell-width)) solid var(--background-color);
}

.cell-inv.down-below {
    transform: translateY(1000%);
    transition: transform .5s cubic-bezier(.56,-0.03,1,.84)
}

.cell-inv:not(.down-below) {
    transform: translateY(-500%);
    transition: transform .5s cubic-bezier(.83,1.56,0,.75);
}

.cell-inv:not(.down-below).first-team,
.cell-inv:not(.down-below).second-team {
    transform: translateY(0);
}

.first-team {
    background-color: var(--first-team);
    /* box-shadow: inset 0 0 0 2px var(--first-team-darker); */
}

.second-team {
    background-color: var(--second-team);
    /* box-shadow: inset 0 0 0 2px var(--second-team-darker); */
}

.cell {
    position: relative;
    aspect-ratio: 1/1;
    width: var(--cell-width);
    background-color: var(--board-color);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-mask-image: radial-gradient(
        circle calc(3/7*var(--cell-width)), 
        transparent calc(3/7*var(--cell-width) - 1px), 
        var(--board-color)
    );
}

.board:not(.win) > .cell:not(.reveal){
    cursor: pointer;
}

.bttn{
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: var(--board-color);
    padding: .4em .7em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: opacity .2s ease-out;
}

.bttn:hover {
    opacity: .75;
}

@media (hover: hover) {
    .board:not(.win) > .cell:not(.reveal):hover{
        -webkit-mask-image: radial-gradient(
            circle calc(3/7*var(--cell-width)), 
            var(--background-darker) calc(3/7*var(--cell-width) - 1px), 
            var(--board-color)
        );
    }
}

.confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
}